# Python with MySQL

In [1]:
# importing mysql connector for python to access your MySQL database
import mysql.connector

In [2]:
# connect python/jupyter to your sql account
mydb = mysql.connector.connect(host='localhost', user='root', passwd='Your MYSQL password')
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000016CD47DFB20>

In [4]:
# creating your database "sq" after connecting to your MySQl account
mydb = mysql.connector.connect(host='localhost', user='root', passwd='Your MYSQL password', database='sq')
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000016CD637E3A0>

In [26]:
# Creating customer table in the database with type of data need (VARCHAR=string)
mycursor= mydb.cursor()
mycursor.execute('CREATE TABLE customer (name VARCHAR(255), address VARCHAR(255))')

In [27]:
# show created table
mydb = mysql.connector.connect(host='localhost', user='root', passwd='Your MYSQL password', database='sq')
mycursor= mydb.cursor()
mycursor.execute('SHOW TABLES')
for x in mycursor:
    print(x)

('customer',)

In [28]:
# Adding a column id to the table and making it the primary key as well as auto-increment the customer id
mycursor.execute('ALTER TABLE customer ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY')

In [29]:
# inserting details for a particular customer
sql = 'INSERT INTO customer(name,address) VALUES(%s, %s)'
val = ('ThankGod', 'No.14 Highway')
mycursor.execute(sql,val)
mydb.commit
print(mycursor.rowcount, 'record inserted.')

1 record inserted.

In [30]:
# inserting names and address of customers in the created table
mycursor= mydb.cursor()
sql = 'INSERT INTO customer(name,address) VALUES(%s, %s)'
val = [('Nkechi', 'Goldie'),('Lilian', 'Mount Zion'),('Bassey', 'Orok Orok'), ('Okon', 'Abasi Edem'), ('Richard', 'Atamuno'),
('Ben', 'Eastern Highay'),('Natasha', 'Etim Edem'), ('Enobong', 'Mayne Avenue'),('Amina', 'Gbogobiri'),('Muhammed', 'Cultural Center'),
('Chima', 'Etta Agbor'), ('Chisom', 'Anangtigha'), ('Emma', 'Marian')]

mycursor.executemany(sql,val)
mydb.commit()
print(mycursor.rowcount, 'was inserted.')

13 was inserted.

In [31]:
# getting all customers details
mycursor.execute('SELECT* FROM customer')
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

('ThankGod', 'No.14 Highway', 1)
('Nkechi', 'Goldie', 2)
('Lilian', 'Mount Zion', 3)
('Bassey', 'Orok Orok', 4)
('Okon', 'Abasi Edem', 5)
('Richard', 'Atamuno', 6)
('Ben', 'Eastern Highay', 7)
('Natasha', 'Etim Edem', 8)
('Enobong', 'Mayne Avenue', 9)
('Amina', 'Gbogobiri', 10)
('Muhammed', 'Cultural Center', 11)
('Chima', 'Etta Agbor', 12)
('Chisom', 'Anangtigha', 13)
('Emma', 'Marian', 14)

In [32]:
# fetching only name and adress of customers
mycursor= mydb.cursor()
mycursor.execute('SELECT name, address FROM customer')
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

('ThankGod', 'No.14 Highway')
('Nkechi', 'Goldie')
('Lilian', 'Mount Zion')
('Bassey', 'Orok Orok')
('Okon', 'Abasi Edem')
('Richard', 'Atamuno')
('Ben', 'Eastern Highay')
('Natasha', 'Etim Edem')
('Enobong', 'Mayne Avenue')
('Amina', 'Gbogobiri')
('Muhammed', 'Cultural Center')
('Chima', 'Etta Agbor')
('Chisom', 'Anangtigha')
('Emma', 'Marian')

In [33]:
# counting all 
mycursor.execute('SELECT count(*) FROM customer')
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

(14,)

In [35]:
# fetching all data that has address "Goldie"
mycursor= mydb.cursor()
sql= "SELECT * FROM customer WHERE address = 'Goldie'"
mycursor.execute(sql)
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

('Nkechi', 'Goldie', 2)

In [43]:
# Fetching all data that has address starting with letter "M"
mycursor= mydb.cursor()
sql= "SELECT * FROM customer WHERE address LIKE 'm%'"
mycursor.execute(sql)
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

('Lilian', 'Mount Zion', 3)
('Enobong', 'Mayne Avenue', 9)
('Emma', 'Marian', 14)

In [44]:
# fetching all customers details in an ascending order of their names
mycursor= mydb.cursor()
sql= "SELECT * FROM customer ORDER BY name"
mycursor.execute(sql)
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

('Amina', 'Gbogobiri', 10)
('Bassey', 'Orok Orok', 4)
('Ben', 'Eastern Highay', 7)
('Chima', 'Etta Agbor', 12)
('Chisom', 'Anangtigha', 13)
('Emma', 'Marian', 14)
('Enobong', 'Mayne Avenue', 9)
('Lilian', 'Mount Zion', 3)
('Muhammed', 'Cultural Center', 11)
('Natasha', 'Etim Edem', 8)
('Nkechi', 'Goldie', 2)
('Okon', 'Abasi Edem', 5)
('Richard', 'Atamuno', 6)
('ThankGod', 'No.14 Highway', 1)

In [45]:
# fetching all customers details in descending order of their names
mycursor= mydb.cursor()
sql= "SELECT * FROM customer ORDER BY name DESC"
mycursor.execute(sql)
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

('ThankGod', 'No.14 Highway', 1)
('Richard', 'Atamuno', 6)
('Okon', 'Abasi Edem', 5)
('Nkechi', 'Goldie', 2)
('Natasha', 'Etim Edem', 8)
('Muhammed', 'Cultural Center', 11)
('Lilian', 'Mount Zion', 3)
('Enobong', 'Mayne Avenue', 9)
('Emma', 'Marian', 14)
('Chisom', 'Anangtigha', 13)
('Chima', 'Etta Agbor', 12)
('Ben', 'Eastern Highay', 7)
('Bassey', 'Orok Orok', 4)
('Amina', 'Gbogobiri', 10)